@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    //*Pantalla de login prueba*/
    body {
        background-color: #f8f9fa;
    }

    .login-container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 50px auto;
        max-width: 400px;
    }

        .login-container h2 {
            margin-bottom: 20px;
            text-align: center;
        }

    .form-group {
        margin-bottom: 20px;
    }

    .form-floating label {
        font-size: 14px;
    }

    .form-floating input.form-control {
        height: 45px;
        border-radius: 4px;
    }

    .text-danger {
        font-size: 14px;
    }

    .form-check-label {
        font-size: 14px;
    }

    .login-container button[type="submit"] {
        height: 45px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
    }

    .login-container p {
        margin-bottom: 10px;
        text-align: center;
    }

    .login-container a {
        color: #007bff;
        text-decoration: none;
    }

        .login-container a:hover {
            text-decoration: underline;
        }
</style>

<div class="login-container">
    <h2>Log in</h2>
    <hr />
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                <label class="form-check-label" asp-for="Input.RememberMe">Remember me</label>
            </div>
        </div>
        <div class="form-group">
            <button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div>
    </form>
</div>

